.venntooltip {
    font-size : 12px;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 60px;
    background: #333;
    color: #fff;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}
.label {
    font-size: 0.8em;
}

#survey-result p {
    color: #6a6a6a;
    font-size: 0.8rem;
    text-align: center;
}

.boxed-text.chart-des {
    border-radius: 0em;
    border: none;
    text-align: left;
    align-self: center;
    margin-top: 10%;
    padding-left:.5em;
    padding-right:.3em;
    padding-bottom: .5em;
    font-size: 1em;
    background-color: #ebd7cb;
}