body{
    background-color: #fffdf7;
}

.title {
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    font-size: 3.5rem;
}

h1.page-title{
    padding-top: 20px;
    font-family: "Poppins";
    text-align: center;
}

h2{
    font-family: "Roboto";
}
h4{
    font-family: "Roboto";
    font-size: medium;
}

p{
    font-family: "Roboto";
}

h3{
    font-size: large;
    font-family: "Roboto";
}

.buffer {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.buffer-survey {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

/*p {*/
/*    color: #6a6a6a;*/
/*    font-family: "Bai Jamjuree", sans-serif;*/
/*}*/

#fp-nav ul:hover .fp-tooltip{
    color: #6a6a6a;
    font-family: "Bai Jamjuree", sans-serif;
}

.boxed-text {
    border-radius: 1.6em;
    /*border: 3px solid #b58659;*/
    background-color: #e1c7b7;
    padding: .9em;
    font-size: 1.3em;
}

.boxed-text.chart-des {
    border-radius: 0em;
    border: none;
    text-align: left;
    align-self: center;
    margin-top: 10%;
    padding-left:.5em;
    padding-right:.3em;
    padding-bottom: .5em;
    font-size: 1em;
    background-color: #fcf6ef;
}

.pie-legend-box {
    border-radius: 0;
    /*border: solid 1px #1f2c51;*/
    background-color: #e6f4ff;

}


.img-fluid {
    max-width: 90%;
}

hr {
    border-top: solid #b58659;
    margin-left: 1%;
    margin-right: 1%;
}

.middle-line hr {
    color: #3f3f3f;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 1%;
}

.surveyQ {
    color: black;
}

#survey-result p {
    color: black;
    font-size: 1.25rem;
    text-align: center;
}

#survey-msg {
    border-radius: 1.6em;
    border: 3px solid #b58659;
    padding: .2em;
    background-color: #fcf6ef;
}

.btn-primary {
    background-color: #fcf6ef;
    border-color: #b58659;
    color: black;
    margin-bottom: 2%;
    margin-top: 2%;
}

.btn-primary:hover {
    background-color: #b58659;
    border-color: #fcf6ef;
    color: #fcf6ef;
}

.pie-title {
    font-size: 1em;
}

.pie-tool-title {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.pie-tool-content {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.1em;
    color: #6a6a6a;
}

.d-legend-title {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.1em;
}

.d-legend-content {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1em;
}

.pie-section-title h4 {
    font-size: 3vh;
}

#rec-q1 {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
/*--------------------------------------------------------------*/

.axis{
    font-family: Roboto ;
}

.lineTitle{
    font-family: Roboto;
    font-size: large;
}

.insight-button{
    font-family: Roboto;
    padding: 20px 20px;
    text-align: left;
    margin: 7px;
}

.insight:hover{
    color: #000;
    background-color: #fffdf7;
    border-color: #fffdf7;
    box-shadow: 0 0 0 0.25rem rgb(181 134 89);
}

.insight {
    font-family: Roboto;
    padding: 20px 20px;
    text-align: left;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    cursor: default;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: #000;
    background-color: #e1c7b7;;
    border-color: #f8f9fa;
    margin: 10px 5px 5px 0px;
}

.legend-line{
    font-family: Roboto;
}


.poster:hover{
    filter: drop-shadow(5px 5px 5px #A9A9A9);
}


.netflix-poster{
    filter: drop-shadow(5px 5px 7px #cf3038);
}

.prime-poster{
    filter: drop-shadow(5px 5px 5px #faa223);
}

.disney-poster{
    filter: drop-shadow(5px 5px 5px #0279ad);
}

.hulu-poster{
    filter: drop-shadow(5px 5px 5px #62bc51);
}

.hbo-poster{
    filter: drop-shadow(5px 5px 5px #bb2b77);
}

.label{
    font-family: Roboto;
}

.legend-line{
    font-family:Roboto
}

.axis{
    font-family: Roboto ;
}

.platform-img{
    padding: 10px;
}

.span{
    font-family: Roboto;
}

.aux-data{
    margin: 17px
}

#showPlatformImage{
    height: 30px;
    margin-top: 50px;
}

#showPlatformImage img{
    max-width: 100%;
    max-height: 100%;
}

#showRottenTomatoes img{
    width:9%;
    height:9%;
    margin: auto;
}

.aux-box{
    height: 95%;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 1rem;
    color: #000;
    background-color: #f0f1f2;
    border-color: #f8f9fa;
}